.section__title {
  font-weight: 700;

  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: calc(33 / 28);
  margin-bottom: 50px;
  @media screen and (max-width: 768px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.client {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.client__item {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}
.client__link {
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-main-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--hove-text-color);
    border-color: var(--hove-text-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.client__icon {
  width: 106px;
  height: 60px;
}
